__pycache__/
lib/

venv/
.venv

# Environment variables
.env

.vscode/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/
alembic/versions_backup

.pytest_cache/

local/